<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
</head>
{%extends 'main.html'%}
{%block header%}
<body>
    <ul class='nav nav-pills'>
        {%if not cookieName%}
        <form action='/' method='post' class='form-inline'>
            <div class='form-group'>
                <label class='sr-only'>用户名</label>
                <input type='text' name='username' class='form-control' placeholder='用户名'/>
            </div>
            <div class='form-group'>
                <label class='sr-only'>密码</label>
                <input type='password' name='password' class='form-control' placeholder='密码'/>
            </div>
            <button type='submit' class='btn btn-success'>登录</button>
        </form>
        {%else%}
        <li><a href='/user/{{cookieName}}' class='h4 text-primary'>欢迎：{{cookieName}}</a></li>
        <li><a href='/logout' class='h4 text-primary'>注销</a></li>
        {%end%}
    </ul>
    {%end%}
    {%block content%}
    <ul>
        {%for i in blogs%}
        <li><a href='/user/{{i[1]}}' class='text-success h4'>【{{i[1]}}】</a><a href='/blog/{{i[0]}}' class='text-primary h3'>{{i[2]}}</a></p><p class='text-muted h6'>{{i[3]}}</p></li>
        <br/>
        {%end%}
    </ul>
    {%end%}
</body>
<html>
