
<!DOCTYPE html>
<html lang="zh-CN" class="">
<head>
<meta charset="utf-8">
<meta name="apple-itunes-app" content="app-id=432274380">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="description" content="一个真实的网络问答社区，帮助你寻找答案，分享知识。"/>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<title>知乎 - 与世界分享你的知识、经验和见解</title>
<link rel="apple-touch-icon-precomposed" href="https://static.zhihu.com/static/revved/img/ios/zhihu(57px).63221ca3.png" />
<link rel="apple-touch-icon-precomposed" href="https://static.zhihu.com/static/revved/img/ios/zhihu(72px).dc5d48a2.png" sizes="72x72" />
<link rel="apple-touch-icon-precomposed" href="https://static.zhihu.com/static/revved/img/ios/zhihu(76px).419f64f3.png" sizes="76x76" />
<link rel="apple-touch-icon-precomposed" href="https://static.zhihu.com/static/revved/img/ios/zhihu(114px).0afa6f73.png" sizes="114x114" />
<link rel="apple-touch-icon-precomposed" href="https://static.zhihu.com/static/revved/img/ios/zhihu(120px).dbcf2005.png" sizes="120x120" />
<link rel="apple-touch-icon-precomposed" href="https://static.zhihu.com/static/revved/img/ios/zhihu(152px).9465f9cc.png" sizes="152x152" />


<link rel="dns-prefetch" href="p1.zhimg.com"/>
<link rel="dns-prefetch" href="p2.zhimg.com"/>
<link rel="dns-prefetch" href="p3.zhimg.com"/>
<link rel="dns-prefetch" href="p4.zhimg.com"/>
<link rel="dns-prefetch" href="comet.zhihu.com"/>
<link rel="dns-prefetch" href="static.zhihu.com"/>
<link rel="dns-prefetch" href="upload.zhihu.com"/>
<meta name="google-site-verification" content="FTeR0c8arOPKh8c5DYh_9uu98_zJbaWw53J-Sch9MTg" />
<meta name="baidu-site-verification" content="KPFppAFoYF4Kkdv9" />
<meta id="znonce" name="znonce" content="1119f46928a1410b8bbb6c403660e045">
<link rel="stylesheet" href="../static/main.23ccd127.css">

    <script src="static/jquery-1.12.0.js" type="text/javascript"></script>
    <script src="static/jquery-1.12.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function()
        {
$("#AjaxPost").click(function(event) {
    var username = $("#username").val();
    var password = $("#password").val();
    $.ajax({
   type: "POST",
   url: "/",
   data: {"username":username,"password":password},
   success: function(data){
   window.location.href = 'http://localhost:8000/newinfo';
}
  });

});
        })
</script>


</head>

<body class="zhi ">



<div class="index-main">
<div class="index-main-body">
<div class="index-header">
<h1 class="logo hide-text">知乎</h1>
<h2 class="subtitle">与世界分享你的知识、经验和见解</h2>
</div>

<div class="desk-front sign-flow clearfix sign-flow-simple">

<div class="index-tab-navs">
<div class="navs-slider">

<a href="">登录</a>
<span class="navs-slider-bar"></span>
</div>
</div>


<div class="view view-signin">
<form>
<input type="hidden" name="_xsrf" value="68a10c909c488d0f5fca6778eb5d307c"/>
<div class="group-inputs">

<div class="email input-wrapper">
<input type="text" id="username" name="account" aria-label="用户名如:yanwei" placeholder="用户名如:yanwei" required>
</div>
<div class="input-wrapper">
<input type="password" id="password" name="password" aria-label="密码:123" placeholder="密码:123" required>
</div>
</div>
<div class="button-wrapper command">
<button class="sign-button submit" id="AjaxPost" type="submit">登录</button>
</div>
<div class="signin-misc-wrapper clearfix">
<label class="remember-me">
<input type="checkbox" name="remember_me" checked value="true"> 记住我
</label>
<a class="unable-login" href="#">无法登录?</a>
</div>
<div class="weibo-signup-wrapper">
<span class="name">社交帐号登录</span>

<div class="sns-buttons is-visible">
<a title="微信登录" class="js-bindwechat" href="#"><i class="sprite-index-icon-wechat"></i></a>
<a title="微博登录" class="js-bindweibo" href="#"><i class="sprite-index-icon-weibo"></i></a>
<a title="QQ 登录" class="js-bindqq" href="#"><i class="sprite-index-icon-qq"></i></a>
</div>
</div>
</form>
</div>

</div>
<div class="qrcode-app-download">
<a href="/app" class="app-link">
<i class="sprite-index-icon-qrcode"></i>
<span class="text">下载知乎 App</span>
<span class="hovercard">
<span class="intro">扫一扫二维码下载</span>
<span class="image"></span>
</span>
</a>
</div>

</div>

</div>
<div class="footer">
<span>&copy; 2016 知乎</span>
<span class="dot">·</span>
<a target="_blank" href="/roundtable">知乎圆桌</a>
<span class="dot">·</span>
<a target="_blank" href="/explore" data-za-c="explore" data-za-a="visit_explore" data-za-l="home_bottom_explore">发现</a>
<span class="dot">·</span>
<a target="_blank" href="/app">移动应用</a>
<span class="dot">·</span>
<a target="_blank" href="/careers">来知乎工作</a>
<a href="http://www.miibeian.gov.cn/" target="_blank">京 ICP 备 13052560 号</a>
<span>·</span>
<span>京公网安备 11010802010035 号</span>
</div>


<script type="text/json" class="json-inline" data-name="disabled_components">["back_to_top"]</script>
<script type="text/json" class="json-inline" data-name="current_user">["","","","-1","",0,0]</script>
<script type="text/json" class="json-inline" data-name="env">["zhihu.com","comet.zhihu.com",false,null]</script>

<script type="text/json" class="json-inline" data-name="ga_vars">{"user_created":0,"now":1453822758000,"abtest_mask":"------------------------------","user_attr":[0,0,0,"-","-"],"user_hash":0}</script>
<meta name="entry" content="ZH.entrySignPage" data-module-id="page-index">

<input type="hidden" name="_xsrf" value="68a10c909c488d0f5fca6778eb5d307c"/>
</body>
</html>